.title{animation:dou01 1s ease;font-size: .44rem;height:2.54rem;text-align: center;color:#ec8804;
    font-weight: 600;margin-top:.3rem; background: url(../images/detailYun.png) no-repeat center;background-size: contain}
.title p{padding-top:.5rem;}
.pic{width:4.77rem;height:2.90rem;margin:.2rem auto .1rem;
    background: url(../images/detailYun01.png) no-repeat center;background-size: contain}