/*弹性盒子*/
.box{display: -webkit-box !important;display: box !important;position:relative;}
.box-f1{position:relative;-webkit-box-flex: 1;box-flex: 1;}
.box-ac{-webkit-box-align:center;box-align:center;}

.box-pc{-webkit-box-pack:center;box-pack:center;}
.box-pe{webkit-box-pack:end;box-pack:end;}
.box-pj{-webkit-box-pack:justify;box-pack:justify;}
.box-ver{-webkit-box-orient:vertical;box-orient:vertical;}
.box-rev {-webkit-box-direction:reverse;box-direction:reverse;}
.box-fh{width:100%;}
.h-p100{height:100%}
.hide{display: none !important;}
/*按钮动画*/
.ani-act{transform: scale3d(0.95,0.97,1);opacity: .7;}
/*浮动+清除浮动*/
.fr{float: right} .fl{float: left}
.clear:after{content:'';display:block;clear: both}
/*文字超出显示省略号*/
.ell{overflow: hidden;white-space: nowrap; text-overflow: ellipsis}
.tx-c{text-align: center;}